<!--<footer>-->
<!--<div class="footer navbar-fixed-bottom my_footer" style="margin-bottom:50px;flex-shrink: 0;">-->
<!--    <p class="text-center"><b> &copy;2023 Palakkavu Bhagavathy Temple.All Rights Reserved</b></p>-->
<!--</div>-->
<!--</footer>-->
<!--<footer class="mt-auto" style="width:100%;">-->
<!--<div class="navbar-fixed-bottom my_footer col-xm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">-->
<!--  <p class="text-center">&copy;2023 Palakkavu Bhagavathy Temple | All Rights Reserved</p>-->
<!--</div>-->
<!--</footer>-->
<!-- Remove the container if you want to extend the Footer to full width. -->

<div class="footer_container  col-sm-12 col-md-6 col-lg-4" style="margin-top:20px;width:100%;">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #3e4551"
          >
    <!-- Grid container -->
    <div class="footer_container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">palakkavu bhagavathy temple</h5>

            <p>
             Is one of the ancient temples in south India. It is situated at Edava in Thiruvananthapuram District, India.
              The temple is situated 5.7km North of Varkala City. Bhadrakali Devi is the presiding deity of this temple.
              A festival is conducted during the month of "Kumbham". This is an occasion when the entire village, irrespective
              of religious differences, erupt in festive mood. The streets are made colourful on the festival days with colourful
              processions. Tender coconut fronds and plantain leaf-stalks are also used for street decoration.
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/donate" class="text-white">Donation</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/about" class="text-white">About</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <p>Contact no: 8139098507</p>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://wa.me/+918139098507" class="text-white">Whatsapp</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4" />

      <!-- Section: CTA -->
<!--      <section class="">-->
<!--        <p class="d-flex justify-content-center align-items-center">-->
<!--          <span class="me-3">Register for free</span>-->
<!--          <button type="button" class="btn btn-outline-light btn-rounded">-->
<!--            Sign up!-->
<!--          </button>-->
<!--        </p>-->
<!--      </section>-->
      <!-- Section: CTA -->

<!--      <hr class="mb-4" />-->

      <!-- Section: Social media -->
      <section class="mb-4 text-center">
        <!-- Facebook -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="https://www.facebook.com/akash.vijay.7127"
           role="button"
           ><i class="fab fa-facebook-f"></i
          ></a>

        <!-- Twitter -->
<!--        <a-->
<!--           class="btn btn-outline-light btn-floating m-1"-->
<!--           href="#!"-->
<!--           role="button"-->
<!--           ><i class="fab fa-twitter"></i-->
<!--          ></a>-->

        <!-- Google -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="mailto:akashrb763@gmail.com"
           role="button"
           ><i class="fab fa-google"></i
          ></a>

        <!-- Instagram -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="https://www.instagram.com/a_m_b_a_d_i_143_official/"
           role="button"
           ><i class="fab fa-instagram"></i
          ></a>

<!--         Linkedin-->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="https://www.linkedin.com/in/akash-r-b-69a238217/"
           role="button"
           ><i class="fab fa-linkedin-in"></i
          ></a>

<!--         Github-->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="https://github.com/akashrb763/"
           role="button"
           ><i class="fab fa-github"></i
          ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      &copy;2023 Palakkavu Bhagavathy Temple | All Rights Reserved |
      its a test demo site not Orginal.
      <!--<a class="text-white" href="https://mdbootstrap.com/"
         >MDBootstrap.com</a-->

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
